[user]
	name = Radim Marek
	email = radim@laststation.net
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
  defaultBranch = master
[alias]
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
